<h1><%= @student.to_s %></h1>
<br>
<p>This student is currently <%=@student.is_active?%>.</p>

<!--
    <% if @student.active %>
        <%= " active."%>
    <%else%>
        <%= " inactive."%>
    <%end %>